rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to access their own document and all sub-collections
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /{allPaths=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
